.Post .listBox .containerNote .delTag:hover, .Post .listBox .notes .changeNote:hover, .Post .listBox .notes .delNote:hover, .Post .tagButton:hover, .Post .save:hover {
  background-color: rgba(255, 17, 180, 0.1);
  color: #ffffff;
}
.Post .listBox .containerNote .delTag:active, .Post .listBox .notes .changeNote:active, .Post .listBox .notes .delNote:active, .Post .tagButton:active, .Post .save:active {
  background-color: rgba(255, 88, 119, 0.1);
  box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.3);
  
}

.Post input, .Post textarea {
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
}

.Post .searchTag, .Post .someText {
  margin: 20px;
  background: transparent;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.Post .listBox .containerNote .delTag, .Post .listBox .notes .changeNote, .Post .listBox .notes .delNote, .Post .tagButton, .Post .save {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  color: #ffffff;
  padding: 12px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
}

.Post .listBox .containerNote .tags, .Post .listBox .notes {
  border-radius: 5px;
  background: transparent;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.Post .listBox .containerNote, .Post .listBox {
  color: black;
  font-size: 14px;
  font-family: Georgia, Times, serif;
  margin-right: 35px;
  flex-wrap: wrap;
}

body {
  background: #d8d8d6;
  font-family: sans-serif, serif;
}

.container {
  justify-content: center;
  margin: 0 auto;
  background: transparent;
  max-width: 1000px;
  min-height: 900px;
}

.App {
  padding: 30px;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
.todo-exit-active {
  animation: fade-out 500ms forwards;
}

.todo-enter-active {
  animation: fade-in 500ms forwards;
}

.Post .someText {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
.Post textarea {
  flex-basis: 80%;
}
.Post .save {
  margin-top: 20px;
  height: 50px;
  flex-basis: 10%;
}
.Post .searchTag {
  border-radius: 5px;
  flex-basis: 70%;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
}
.Post .tagButton {
  flex-direction: column;
  justify-content: center;
  max-height: 30px;
  margin: 1rem 20px 0 0;
}
.Post .listBox {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
  list-style-type: upper-roman;
}
.Post .listBox .notes {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.Post .listBox .notes .someNote {
  width: 300px;
  margin-right: auto;
  word-wrap: break-word;
}
.Post .listBox .notes .delNote {
  margin: 5px 10px 0 10px;
  border-radius: 10px;
}
.Post .listBox .notes .changeNote {
  margin: 5px 10px 0 10px;
  border-radius: 10px;
}
.Post .listBox .containerNote {
  display: inline-flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}
.Post .listBox .containerNote .tags {
  padding: 10px;
  margin: 5px;
  width: 145px;
  word-wrap: break-word;
}
.Post .listBox .containerNote .tags .active {
  padding: 10px;
  color: white;
  background-color: #474749;
  border-radius: 10px;
  word-wrap: break-word;
}
.Post .listBox .containerNote .delTag {
  margin-top: 20px;
  border-radius: 10px;
}
@media only screen and (max-width: 700px) {
  .Post .container {
    background-color: #a3ddf0;
  }
}